In [26]:
%load_ext autoreload
%autoreload
from JoinGraphUtils import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
query = JoinQueryGraph()
query.addJoin("A", "1", "B", "1")
query.addJoin("B", "2", "C", "2")
query.addJoin("D", "1", "C", "1")
query.buildJoinGraph()
query.printJoinGraph()
query.getTopologicalGenerations("C")

A is the 1th joined table with predicates:
A joins with B on column 1
B is the 2th joined table with predicates:
B joins with A on column 1
B joins with C on column 2
C is the 3th joined table with predicates:
C joins with D on column 1
C joins with B on column 2
D is the 4th joined table with predicates:
D joins with C on column 1

{'C': 0, 'D': 1, 'B': 1, 'A': 2}

In [42]:
copy = query.copy()
copy.printJoinGraph()
copy.arbitrarilyBreakCycles()
copy.printJoinGraph()

A is the 1th joined table with predicates:
A joins with B on column 1
A joins with C on column 1
B is the 2th joined table with predicates:
B joins with A on column 1
B joins with C on column 2
C is the 3th joined table with predicates:
C joins with B on column 2
C joins with A on column 1
C joins with D on column 1
D is the 4th joined table with predicates:
D joins with C on column 1
A is the 1th joined table with predicates:
A joins with B on column 1
A joins with C on column 1
B is the 2th joined table with predicates:
B joins with A on column 1
C is the 3th joined table with predicates:
C joins with A on column 1
C joins with D on column 1
D is the 4th joined table with predicates:
D joins with C on column 1

In [43]:
intermediateQueries = query.getIntermediateQueries()

In [44]:
for q in intermediateQueries:
    print("New Query")
    q.printJoinGraph()

New Query
A is the 1th joined table with predicates:
A joins with B on column 1
B is the 2th joined table with predicates:
B joins with A on column 1
New Query
A is the 1th joined table with predicates:
A joins with C on column 1
C is the 2th joined table with predicates:
C joins with A on column 1
New Query
B is the 1th joined table with predicates:
B joins with C on column 2
C is the 2th joined table with predicates:
C joins with B on column 2
New Query
C is the 1th joined table with predicates:
C joins with D on column 1
D is the 2th joined table with predicates:
D joins with C on column 1
New Query
A is the 1th joined table with predicates:
A joins with B on column 1
A joins with C on column 1
B is the 2th joined table with predicates:
B joins with A on column 1
B joins with C on column 2
C is the 3th joined table with predicates:
C joins with B on column 2
C joins with A on column 1
New Query
A is the 1th joined table with predicates:
A joins with C on column 1
C is the 2th joined table with predicates:
C joins with A on column 1
C joins with D on column 1
D is the 3th joined table with predicates:
D joins with C on column 1
New Query
B is the 1th joined table with predicates:
B joins with C on column 2
C is the 2th joined table with predicates:
C joins with B on column 2
C joins with D on column 1
D is the 3th joined table with predicates:
D joins with C on column 1